.content-frame {
    padding: 10px;
    .wfh-header {
        border-bottom: 1px solid black;
    }

    .wfh-info {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .wfh-info-content {
            width: 50%;

            button {
                width: 100px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .voucher-table{
        text-align: center;
        vertical-align: middle;
        .point{
            color: #ff1616;
            font-weight: bold;
        }
    }
    
}

.row {
    margin-left: 0 !important;
}