.content-frame {
    .wfh-header {
        border-bottom: 1px solid black;
    }

    .wfh-info {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .wfh-info-content {
            width: 50%;

            button {
                width: 100px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.row {
    margin-left: 0 !important;
}