.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none !important;
}

section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 228, 228);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.table-nowrap td, .table-nowrap th {
  white-space: nowrap;
}
.table-borderless>:not(caption)>*>* {
  border-bottom-width: 0;
}
.table>:not(caption)>*>* {
  padding: 0.75rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.badge-soft-danger {
  color: #f56e6e !important;
  background-color: rgba(245,110,110,.1) !important;
}
.badge-soft-success {
  color: #63ad6f !important;
  background-color: rgba(99,173,111,.1) !important;
}
.badge-soft-warning {
  color: #ffc107 !important;
  background-color: rgba(160,173,99,.1) !important;
}


.detail {
  font-size: 14px;
  color: rgb(0, 0, 255);
  font-weight: 600;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.content-frame {
  width: 75%;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}