.update-timesheet-frame {
    width: 75% !important;
    margin: 20px;
    background-color: white;
    border-radius: 10px;

    .update-timesheet-header {
        border-bottom: 1px solid black;
    }

    .list-frame {
        padding: 0 20px;
        margin-top: 5px;

        .update-timesheet-history {
            overflow-y: scroll;
            max-height: 450px;
        }
    }

    .uts-table {
        border-collapse: separate;
        border-spacing: 0 12px
    }
    
    .uts-table tr {
        background-color: #fff
    }
}