.content-frame {
    .selected {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .button-switch {
        &:hover {
            font-weight: 600;
            cursor: pointer;
            color: rgb(82, 82, 223);
        }
    }
}