.notification {
    display: block;
    box-sizing: border-box;
    border-width: 0;
    padding: 15px 20px;
    margin: 0;

    .display-listing {
        margin: 15px 30px;
        list-style: none outside;

        .listing-item {
            list-style-type: circle;
            margin-bottom: 10px;
            text-align: justify;
            font-size: 20px;

            .item-title {
                margin-right: 20px;
                color: #1251b4;

                &:hover {
                    color: #2991D6;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}