.leave-frame {
    width: 75%;
    margin: 20px;
    background-color: white;
    border-radius: 10px;

    .leave-check {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;

        .form-check {
            font-weight: 600;
            font-size: 16px;
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    .datepick-frame {
        margin: 30px 100px;

        label {
            margin-left: 100px;
            margin-right: 20px;
        }

        .datepick {
            display: flex;
            align-items: center;
            font-size: 16px;
            margin-bottom: 30px;

            .container {
                padding: 0 !important;
            }
    
            .custom-datepick {
                font-size: 16px !important;
                // margin-right: 5px;
            }

            .form-control-lg {
                min-height: auto !important;
                padding: .375rem .75rem !important;
            }
        }

        .reason-frame {
            font-size: 16px;
            margin-bottom: 30px;

            .reason-input {
                margin-top: 10px;
                margin-left: 100px;
            }
        }

        button {
            margin-left: 100px;
            width: 100px;
        }
    }
}