.content-frame {
    .update-timesheet-header {
        border-bottom: 1px solid black;
    }

    .list-frame {
        padding: 0 20px;
        margin-top: 5px;

        .update-timesheet-history {
            overflow-y: scroll;
            max-height: 450px;

            .point{
                font-weight: bold;
                color: #ff9900;
            }
        }
    }

    .uts-table {
        border-collapse: separate;
        border-spacing: 0 12px
    }
    
    .uts-table tr {
        background-color: #fff
    }
}

.modal-add-point{
    width: 100%;
    font-size: 20px;
    b{
        color: #ff9900;
    }
}